.faqPage {
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 10px;
}

.titleText {
    padding-top: 20px ;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;
}

/*.subtitleText {*/
/*    !* display: flex; *!*/
/*    padding-top: 10px ;*/
/*    padding-bottom: 10px;*/
/*    padding-right: 10px;*/
/*    padding-left: 10px;*/
/*    text-align: center;*/
/*}*/

.faqText {
    padding: 10px 100px 10px 100px;
    text-align: justify;
    text-justify: inter-word;
}