.mapPageContainer {
    width: 80%;
}

.deckGlContainer {
    position: relative;
    height: 70vh;
    margin-top: 50px;
}

.selectionForm2 {
    display: inline-flex;
    padding-top: 24px;
}

.selectionBox2 {
    padding-right: 12px;
}
