.selectionForm {
    display: flex;
    gap: 16px;
}

.scatterplotBox {
    margin-top: 8px;
    margin-bottom: 4px;
    max-width: 650px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
    background-color: #fff;
}

.scatterGraph {
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    display: flex;
    width: 100%;
    min-height: 500px; /* For the buttons at the bottom */
}

.specialityBodyText {
    text-align: justify;
}

.specialtyTitleText {
    text-align: center;
}
.specialtySubtitleText {
    padding-top: 5px ;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}