.titleText {
    /* display: flex; */
    padding-top: 40px ;
    padding-bottom: 60px;
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;

}

.homePageContent {
    display: flex;
    justify-content: space-between;
}

.graphImage {
    width: 45%
}

.graphImage svg {
    width: 100%;
    height: auto;
}

.homeBodyText {
    text-align: justify;
    width: 45%;
    margin-right: 16px;
}

.homeBodyText p {
    padding-bottom: 8px;
}
