.titleText {
    /* display: flex; */
    padding-top: 40px ;
    padding-bottom: 60px;
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;

}

.homePageContent {
    display: flex;
    justify-content: space-between;
}

.graphImage {
    width: 100%
}

.homeBodyText {
    text-align: justify;
    width: 75%;
    margin-right: 250px;
    margin-left: 250px;

}

.homeBodyText p {
    padding-bottom: 8px;
}
