.selectionForm {
    display: inline-flex;
    padding-top: 24px;
}

.selectionBox {
    padding-right: 12px;
}

.scatterplotBox {
    margin-top: 8px;
    margin-bottom: 4px;
}

.scatterGraph {
    display: flex;
    min-width: 1000px;
    min-height: 500px; /* For the buttons at the bottom */
    height: 70vh;
}

.js-plotly-plot {
    width: 100%;
}

.titleText {
    padding-top: 20px ;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.bodyText {
    padding-top: 30px ;
    padding-bottom: 30px;
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
    width: 80%
}