.selectionForm {
    display: inline-flex;
}

.selectionBox {
}

.scatterplotBox {
    margin-top: 8px;
    margin-bottom: 4px;
    max-width: 650px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
    background-color: #fff;
}

.scatterGraph {
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    display: flex;
    width: 100%;
    min-height: 900px; /* For the buttons at the bottom */
}

.titleText {
    text-align: center;

}

.subTitleText {
    text-align: center;
}

.bodyText {
    text-align: center;
    font-weight: bold;

}

.bodyText2 {
    text-align: justify
}

.selectionForm {
    display: flex;
    gap: 16px;
}

.center {
    text-align: center;
}