.mapPageContainer {
    width: 80%;
    background-color: #fff;
    padding: 0 80px;

    margin-top: 8px;
    margin-bottom: 4px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;  
}

.controls {
    align-items: center;
}

.deckGlContainer {
    position: relative;
    height: 70vh;
    margin-top: 50px;
    
}

.selectionForm2 {
    display: inline-flex;
    padding-top: 24px;
}

.selectionBox2 {
    padding-right: 12px;
}

.mapTitleText {
    padding-top: 20px ;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    
}

.bodyText {
    padding-top: 30px ;
    padding-bottom: 0px;
    padding-right: 200px;
    padding-left: 200px;
    width: 80%;
    text-align: justify
  }